@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.leaderboard {
  padding: 0 1.5rem;

  &__title {
    color: $interactive-elements;
    font-weight: 400;
    margin: 1.5rem 0;
  }

  &__body {
    background-color: white;
    border-radius: 20px;
    border: 1px solid $border-color;
    overflow: hidden;
  }

  &__headings {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1rem;
    background-color: $primary-button;
    padding: 0 0.75rem;
    color: white;
    font-weight: 500;
  }

  &__heading {
    
  }
}
