@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.search {
  padding: 0 1.5rem;

  &__bar {
    position: relative;
  }

  &__input {
    @include input-box;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;

    &-results {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__icon {
    position: absolute;
    right: 15px;
    bottom: 0.5px;
  }

  &__results {
    list-style: none;
    margin-top: 0;
    padding: 0;
    padding: 0 1rem;
    background: white;
    border: 1px solid $border-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-item {
      border-bottom: 1px solid $border-color;
      padding: 0.5rem 0;

    }
  }
}
