@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.search {
    padding: 0 1.5rem;
    position: relative;

    &__input {
        @include input-box;
        width: 95%;        
    }

    &__icon {
        position: absolute;
        right: 30px;
        bottom: 2px;
    }
}