@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.request-list {
    padding: 0 1.5rem;

    &__title {
        color: $interactive-elements;
        font-weight: 400;
        margin: 1rem 0;
    }
}